.cards {
  display: flex;
  justify-content: space-around;
}
h1 {
  color: #1b00ff9e  !important;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  text-transform: uppercase;
}
/* navbar */
nav.navbar.navbar-expand.navbar-light.bg-light {
  padding: 13px 0;
  background-color: #141414 !important;
  box-shadow: -3px 21px 38px 1px rgba(255,255,255,0.76);
  -webkit-box-shadow: -3px 4px 33px 1px rgba(255,255,255,0.76);
  -moz-box-shadow: -3px 21px 38px 1px rgba(255,255,255,0.76);
  position: sticky;
  top: 0;
  

}
.me-auto.navbar-nav {
  margin-right: unset !important;
}
a.nav-link {
  padding: 10px 56px !important;
}
nav.navbar.navbar-expand.navbar-light.bg-light :hover {
  color: #ffbf09 !important;
}
/* footer */
ul {
  list-style: none;
}
.footer {
  background-color: #ffffff !important;
  padding: 40px 28px;
  margin: 60px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  position: static !important;
}
body {
  background: black !important;
}
a.nav-link {
  color: white !important;
  font-weight: bold;
}
a.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 7px;
}
img.d-block.w-100 {
  height: 500px;
}
.play {
  margin-top: 73px;
    display: flex;
    justify-content: space-around;
}